/* Estilos generales */
body {
    background-color: #fdf8f0;
    color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe toda la pantalla */
}

/* Barra de navegación */
.navbar {
    background-color: #ff7300 !important;
    /* Naranja corporativo */
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #ffe0b2 !important;
}

/* Contenido de la ficha del producto */
#product-sheet {
    margin-top: 30px;
    flex-grow: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

/* Título de la ficha del producto */
#product-title {
    color: #ff7300;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

/* Descripción del producto */
#product-description {
    font-size: 1rem;
    color: #666;
    margin-top: 20px;
    line-height: 1.6;
}

/* Precio del producto */
#product-price {
    font-size: 1.25rem;
    color: #ff7300;
    margin-top: 20px;
}

/* Botón de añadir al carrito */
.btn {
    background-color: #ff7300 !important;
    color: #ffffff !important;
    border: none !important; /* Eliminar borde */
    box-shadow: none !important; /* Eliminar sombra */
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #e56700 !important;
    transform: scale(1.05);
}

/* Eliminar borde de enfoque y sombra en los botones */
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Imagen del producto */
#product-image {
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 20px;
}

#cart-icon {
    font-size: 1.5rem;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    top: 10px; /* Ajusta esta propiedad para bajar más el icono */
}

/* Contador de productos en el carrito */
#cart-count {
    font-size: 0.75rem;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #d32f2f;
    color: #ffffff;
    padding: 3px 7px;
    border-radius: 50%;
}

/* Agregar un efecto de hover sobre el icono del carrito */
.cart-icon:hover {
    color: #ffe0b2;
}

/* Responsividad */
@media (max-width: 768px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-md-6 {
        width: 100%;
    }

    #product-title {
        font-size: 1.5rem;
    }
}

